Repository ecoricemon/logic-eval: changes, and which Codecov flags are due for each by the changed paths.
All: any-intern, logic-eval, logic-eval-util

fix: workflow test.yml
  .github/workflows/test.yml
Due: none

chore: fix workflow for coverage test
  .github/workflows/check.yml
  .github/workflows/test.yml
  codecov.yml
Due: none

chore: Update README.md
  crates/any-intern/README.md
  crates/logic-eval/README.md
Due: any-intern, logic-eval

chore: Add workflow for safety check
  .github/workflows/check.yml
  .github/workflows/safety.yml
  .github/workflows/test.yml
Due: none

chore: fix formatting error in safety.yml
  .github/workflows/safety.yml
Due: none

chore: Add missing quotes in safety.yml
  .github/workflows/safety.yml
Due: none

chore: Reduce MSRV to 1.65
  .github/workflows/check.yml
  .github/workflows/safety.yml
  .github/workflows/test.yml
  Cargo.toml
  crates/any-intern/Cargo.toml
  crates/any-intern/README.md
  crates/any-intern/benches/bench.rs
  crates/any-intern/src/any.rs
  crates/any-intern/src/common.rs
  crates/any-intern/src/dropless.rs
  crates/any-intern/src/typed.rs
  crates/logic-eval-util/Cargo.toml
  crates/logic-eval-util/src/reference.rs
  crates/logic-eval-util/src/unique.rs
  crates/logic-eval/Cargo.toml
  crates/logic-eval/README.md
  crates/logic-eval/src/lib.rs
  crates/logic-eval/src/parse/repr.rs
  crates/logic-eval/src/parse/text.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/prover.rs
  crates/logic-eval/src/prove/repr.rs
Due: any-intern, logic-eval, logic-eval-util

Fix MSRV related stuff
  .github/workflows/check.yml
  .github/workflows/safety.yml
  .github/workflows/test.yml
  Cargo.toml
  crates/any-intern/Cargo.toml
  crates/any-intern/benches/bench.rs
  crates/any-intern/run.sh
  crates/any-intern/src/common.rs
  crates/any-intern/src/dropless.rs
  crates/any-intern/src/lib.rs
  crates/logic-eval-util/Cargo.toml
  crates/logic-eval-util/run.sh
  crates/logic-eval-util/src/unique.rs
  crates/logic-eval/Cargo.toml
  crates/logic-eval/run.sh
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/prover.rs
  run.sh
Due: any-intern, logic-eval, logic-eval-util

fix(miri): Do not take &mut for a whole chunk
  Cargo.toml
  crates/any-intern/Cargo.toml
  crates/any-intern/src/dropless.rs
Due: any-intern

refactor: Generalize for various input types
  Cargo.toml
  crates/logic-eval-util/src/reference.rs
  crates/logic-eval/Cargo.toml
  crates/logic-eval/README.md
  crates/logic-eval/src/lib.rs
  crates/logic-eval/src/parse/common.rs
  crates/logic-eval/src/parse/inner.rs
  crates/logic-eval/src/parse/mod.rs
  crates/logic-eval/src/parse/repr.rs
  crates/logic-eval/src/parse/text.rs
  crates/logic-eval/src/prove/common.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/mod.rs
  crates/logic-eval/src/prove/prover.rs
  crates/logic-eval/src/prove/repr.rs
  src/lib.rs
Due: logic-eval, logic-eval-util

feat: Implement SLG
  crates/logic-eval/README.md
  crates/logic-eval/src/lib.rs
  crates/logic-eval/src/parse/common.rs
  crates/logic-eval/src/parse/repr.rs
  crates/logic-eval/src/parse/text.rs
  crates/logic-eval/src/prove/canonical.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/mod.rs
  crates/logic-eval/src/prove/prover.rs
  crates/logic-eval/src/prove/repr.rs
  crates/logic-eval/src/prove/table.rs
Due: logic-eval

clippy
  crates/logic-eval/src/prove/db.rs
Due: logic-eval

chore: fix comments
  crates/logic-eval/src/prove/canonical.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/prover.rs
  crates/logic-eval/src/prove/repr.rs
  crates/logic-eval/src/prove/table.rs
Due: logic-eval

chore: fix comments
  crates/any-intern/src/any.rs
  crates/any-intern/src/common.rs
  crates/any-intern/src/dropless.rs
  crates/any-intern/src/lib.rs
  crates/any-intern/src/typed.rs
  crates/logic-eval-util/src/lib.rs
  crates/logic-eval-util/src/reference.rs
  crates/logic-eval-util/src/str.rs
  crates/logic-eval-util/src/symbol.rs
  crates/logic-eval-util/src/unique.rs
  crates/logic-eval/src/lib.rs
  crates/logic-eval/src/parse/common.rs
  crates/logic-eval/src/parse/inner.rs
  crates/logic-eval/src/parse/repr.rs
  crates/logic-eval/src/parse/text.rs
  crates/logic-eval/src/prove/canonical.rs
  crates/logic-eval/src/prove/common.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/prover.rs
  crates/logic-eval/src/prove/repr.rs
  crates/logic-eval/src/prove/table.rs
Due: any-intern, logic-eval, logic-eval-util

chore: Add examples
  crates/logic-eval/Cargo.toml
  crates/logic-eval/README.md
  crates/logic-eval/examples/access_control.rs
  crates/logic-eval/examples/dependency_graph.rs
  crates/logic-eval/examples/meal_recommendation.rs
  crates/logic-eval/src/prove/db.rs
Due: logic-eval

chore: Improve doc
  crates/any-intern/src/any.rs
  crates/any-intern/src/common.rs
  crates/any-intern/src/dropless.rs
  crates/any-intern/src/lib.rs
  crates/any-intern/src/typed.rs
  crates/logic-eval-util/src/reference.rs
  crates/logic-eval-util/src/str.rs
  crates/logic-eval-util/src/symbol.rs
  crates/logic-eval-util/src/unique.rs
  crates/logic-eval/src/parse/common.rs
  crates/logic-eval/src/parse/inner.rs
  crates/logic-eval/src/parse/repr.rs
  crates/logic-eval/src/parse/text.rs
  crates/logic-eval/src/prove/common.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/prover.rs
Due: any-intern, logic-eval, logic-eval-util

feat: Make query callable on multiple threads
  crates/logic-eval/Cargo.toml
  crates/logic-eval/README.md
  crates/logic-eval/benches/query_threads.rs
  crates/logic-eval/examples/access_control.rs
  crates/logic-eval/examples/dependency_graph.rs
  crates/logic-eval/examples/meal_recommendation.rs
  crates/logic-eval/src/prove/common.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/prover.rs
  crates/logic-eval/src/prove/repr.rs
Due: logic-eval

chore: Rename awkward names
  crates/logic-eval/src/lib.rs
  crates/logic-eval/src/parse/repr.rs
  crates/logic-eval/src/prove/canonical.rs
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/mod.rs
  crates/logic-eval/src/prove/proof_engine.rs
  crates/logic-eval/src/prove/repr.rs
  crates/logic-eval/src/prove/table.rs
Due: logic-eval

chore: Simplify logic-eval benchmark
  crates/logic-eval/benches/query_threads.rs
Due: logic-eval

chore: Update crate description
  crates/any-intern/Cargo.toml
  crates/logic-eval-util/Cargo.toml
  crates/logic-eval/Cargo.toml
Due: any-intern, logic-eval, logic-eval-util

Add test failing
  crates/logic-eval/src/prove/db.rs
Due: logic-eval

Track bindings during unification
  crates/logic-eval/src/prove/proof_engine.rs
Due: logic-eval

Prefer UnifySide over enum
  crates/logic-eval/src/prove/proof_engine.rs
Due: logic-eval

Improve test
  crates/logic-eval/src/prove/db.rs
Due: logic-eval

Actions stuff
  .github/workflows/test.yml
Due: none

Fix equal (#11)
  .github/workflows/test.yml
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/proof_engine.rs
Due: logic-eval

Apply UnifyOps only if it's unified
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/proof_engine.rs
Due: logic-eval

fix: Duplicate vars should be considered as a var
  crates/logic-eval/src/prove/db.rs
  crates/logic-eval/src/prove/proof_engine.rs
Due: logic-eval

Path conditions:
  any-intern: any of: crates/any-intern/
  logic-eval: any of: crates/logic-eval/
  logic-eval-util: any of: crates/logic-eval-util/
